# Dependencies
node_modules/
.pnp
.pnp.js

# Production Build Output
dist/

# Development/Testing Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE/Editor Configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
.DS_Store
Thumbs.db
